* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    text-align: center;
    padding: 10px;
}
p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
input {
    display: block;
    margin:0 auto;
    width: 400px;
    height: 20px;
}
button {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 80px;
    margin-top: 20px;
}
image {
    height: 300px;
    width: 400px;
}
#TextArea {
    display: block;
    width: 500px;
    margin: 0 auto;
    border:1px solid violet;
}
#TextArea p {
    display: block;
    text-align: left;
    padding:10px;
    
}
#TextArea p:hover {
    background-color:gray;
}
a {
    text-decoration: none;
    color:black;
}
div {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#BackButton {
    padding: 10px;
    border: 1px solid blueviolet;
}
#BackButton:hover {
    background-color:gray;
}
